node_modules
dist
dist-ssr
*.tsbuildinfo
.DS_Store
*.local

.claude/
.serena

.env
.env.*
!.env.example

playwright-report/
test-results/
coverage/
.eslintcache

*storybook.log
storybook-static


# 로컬 전용 문서
*.xlsx
*.xls

e2e/**/*-snapshots/
