{
  "openapi": "3.1.0",
  "info": {
    "title": "CoreBank API Specification",
    "description": "Corebank REST API 명세서",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://api.corebank.cloud/api/v1",
      "description": "배포 서버"
    },
    {
      "url": "http://localhost:8080/api/v1",
      "description": "로컬 서버"
    }
  ],
  "tags": [
    {
      "name": "상품",
      "description": "예적금 상품 검색·상세·약관 조회 API"
    },
    {
      "name": "관리자 고객 계정 운영",
      "description": "관리자의 고객 검색·잠금 해제·로그인 비밀번호 초기화·계정 상태 변경 API"
    },
    {
      "name": "인증",
      "description": "로그인과 비밀번호 관리 API"
    },
    {
      "name": "OTP",
      "description": "거래 OTP 발급·검증 API"
    },
    {
      "name": "상품가입",
      "description": "상품가입 사전검증·실행·결과조회 API"
    },
    {
      "name": "자동이체",
      "description": "자동이체 등록·조회·변경·해지 및 처리결과 조회 API"
    },
    {
      "name": "고객",
      "description": "로그인 고객의 기본정보 조회·변경 API"
    },
    {
      "name": "자주 쓰는 계좌",
      "description": "즐겨찾기 계좌 등록, 목록 조회, 별칭 수정 및 삭제 API"
    },
    {
      "name": "예약이체",
      "description": "예약이체 등록·조회·취소 및 처리결과 조회 API"
    },
    {
      "name": "인증",
      "description": "로그인과 세션 인증 API"
    },
    {
      "name": "이체한도",
      "description": "이체한도 조회·변경 API"
    },
    {
      "name": "회원가입",
      "description": "회원가입 단계별 인증·입력 검증·가입 완료 API"
    },
    {
      "name": "계좌",
      "description": "계좌 조회 및 계좌비밀번호 인증 API"
    },
    {
      "name": "계좌 설정",
      "description": "계좌 표시순서 설정 API"
    },
    {
      "name": "출금계좌",
      "description": "출금계좌 관리 API"
    },
    {
      "name": "이체",
      "description": "즉시이체 실행 및 수취인(예금주) 조회 API"
    },
    {
      "name": "인증",
      "description": "로그인과 계정 찾기 API"
    },
    {
      "name": "약관",
      "description": "회원가입 약관 조회·동의 검증 API"
    },
    {
      "name": "인증",
      "description": "비밀번호 재설정 API"
    },
    {
      "name": "계좌",
      "description": "계좌 조회 및 계좌별명 관리 API"
    }
  ],
  "paths": {
    "/withdrawal-accounts/{accountId}": {
      "put": {
        "tags": [
          "출금계좌"
        ],
        "summary": "출금계좌 등록",
        "description": "로그인한 고객이 소유한 입출금계좌를 출금계좌로 등록한다.\n계좌비밀번호 및 OTP 인증 완료 후 발급된 인증 토큰이 필요하며,\n동일한 Idempotency-Key와 동일한 요청으로 재요청하면\n저장된 응답을 반환한다.\n",
        "operationId": "registerWithdrawalAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "출금계좌로 등록할 계좌의 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 101
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalAccountRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "출금계좌 등록 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseWithdrawalAccountRegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락 · `ACC0003` 출금계좌 등록 불가 계좌 유형",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ACC0301` 거래정지 또는 해지 상태 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "출금계좌"
        ],
        "summary": "출금계좌 등록 삭제",
        "description": "로그인한 고객이 소유한 계좌의 출금계좌 등록을 삭제한다.\n예약이체 또는 자동이체에서 사용 중인 출금계좌는 삭제할 수 없다.\n이미 출금계좌 등록이 해제된 경우에도 성공으로 처리하며,\n동일한 Idempotency-Key와 동일한 요청으로 재요청하면\n저장된 응답을 반환한다.\n",
        "operationId": "unregisterWithdrawalAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "출금계좌 등록을 삭제할 계좌의 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 101
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "출금계좌 등록 삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseWithdrawalAccountUnregisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ACC0302` 예약이체 또는 자동이체 사용으로 삭제 불가 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfer-limits": {
      "get": {
        "tags": [
          "이체한도"
        ],
        "summary": "이체한도 조회",
        "description": "로그인 고객의 1회 이체한도, 1일 이체한도, 당일 사용금액, 당일 잔여 이체가능금액을 조회한다.\n한도는 계좌가 아니라 고객 단위이므로 계좌 ID를 받지 않는다.\n당일 사용금액은 KST 영업일 기준이며, 그날 첫 조회라 사용 이력이 없으면 0으로 응답한다.\n",
        "operationId": "getTransferLimit",
        "responses": {
          "200": {
            "description": "이체한도 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTransferLimitResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "`LMT9001` 한도 정보가 없어 조회할 수 없음. 가입 연계(REQ-TRSF-029)와 백필이 보장하므로 나오면 데이터 결함이다",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "이체한도"
        ],
        "summary": "이체한도 변경",
        "description": "로그인 고객의 1회·1일 이체한도를 함께 교체한다. 한쪽만 보내는 부분 수정은 허용하지 않는다 —\n\"1회 ≤ 1일\" 정합성은 두 값을 함께 봐야 검증할 수 있다.\n계좌비밀번호 토큰과 OTP 토큰을 모두 요구한다(2단계 인증).\n계좌비밀번호 토큰은 고객이 보유한 본인 계좌 중 하나로 인증해 발급하며,\n한도 변경 시에는 토큰의 고객 ID를 로그인 고객과 대조한다.\nOTP 발급 시 transactionData 에 {\"oneTimeLimit\": 값, \"dailyLimit\": 값} 을 담아야 하며,\n이 요청의 한도와 다르면 OTP0102 로 거부된다.\n응답은 변경된 한도와 당일 사용 현황을 함께 담으므로 재조회할 필요가 없다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 반환한다.\n",
        "operationId": "updateTransferLimit",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferLimitUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "이체한도 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTransferLimitResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 필수값 누락·음수·정책 상한(1회 5,000만원 · 1일 1억원) 초과 · `LMT0004` 1회 한도가 1일 한도를 초과함",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`APW0102` 계좌비밀번호 인증 토큰이 무효·만료·사용됨 · `OTP0101` OTP 인증 토큰이 무효·만료·사용됨 · `OTP0102` 인증한 거래 내용과 요청한 한도가 다름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "`LMT9001` 한도 정보가 없어 변경할 수 없음. 가입 연계(REQ-TRSF-029)와 백필이 보장하므로 나오면 데이터 결함이다",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/me/password": {
      "put": {
        "tags": [
          "인증"
        ],
        "summary": "로그인 비밀번호 변경",
        "description": "로그인 고객의 현재 비밀번호를 확인한 뒤 신규 비밀번호로 변경한다. 성공하면 로그인 실패 횟수를 0으로 초기화하고 현재 세션을 포함한 해당 고객의 모든 로그인 세션을 무효화하므로 새 비밀번호로 재로그인해야 한다. 성공 후 같은 멱등키로 재시도하면 만료된 세션 때문에 `401 CMN0101`이 반환될 수 있다. 이때는 변경이 이미 반영됐을 수 있으므로 새 비밀번호로 로그인한다.",
        "operationId": "changeLoginPassword",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 성공 전 동일 요청은 최초 응답을 재생하지만 성공 후에는 만료된 세션으로 401이 반환될 수 있음",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginPasswordChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 비밀번호 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginPasswordChangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 필수 입력값 누락 · `ATH0001` 신규 비밀번호 정책 위반 · `ATH0002` 비밀번호 확인 불일치 · `ATH0003` 직전 비밀번호 재사용 · `ATH0010` 현재 비밀번호 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0102` 로그인 비밀번호 5회 오류로 고객 계정 잠금",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301` 동일 요청 처리 중 · `CMN0302` 동일 멱등키를 다른 요청에 사용 · `CMN0303` 동시 변경 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset-requests/{passwordResetRequestId}": {
      "put": {
        "tags": [
          "인증"
        ],
        "summary": "비밀번호 재설정",
        "description": "인증번호와 신규 비밀번호를 검증하고 비밀번호를 변경한다. 인증 요청은 한 번만 사용할 수 있으며, 성공하면 로그인 실패 횟수를 0으로 초기화하고 해당 고객의 기존 로그인 세션을 모두 무효화한다. 이 API는 비로그인 경로이므로 동일 멱등키와 동일 요청의 재시도에는 최초 응답을 재생한다.",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "passwordResetRequestId",
            "in": "path",
            "description": "인증번호 발급 API에서 반환한 비밀번호 재설정 요청 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PRR_test"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키와 동일 요청으로 재시도하면 최초 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "비밀번호 재설정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePasswordResetResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 필수 입력값 누락 · `ATH0001` 신규 비밀번호 정책 위반 · `ATH0002` 비밀번호 확인 불일치 · `ATH0003` 직전 비밀번호 재사용 · `ATH0007` 인증번호 불일치 · `ATH0008` 인증번호 만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0102` 로그인 비밀번호 5회 오류로 고객 계정 잠금",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0202` 인증 요청을 찾을 수 없거나 이미 사용됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301` 동일 요청 처리 중 · `CMN0302` 동일 멱등키를 다른 요청에 사용 · `CMN0303` 동시 변경 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/password": {
      "put": {
        "tags": [
          "계좌"
        ],
        "summary": "계좌비밀번호 변경",
        "description": "계좌비밀번호 인증 토큰과 ACCOUNT_PASSWORD_CHANGE 용도의 OTP 인증 토큰을\n각각 검증·소비한 뒤 로그인 고객 소유 계좌의 비밀번호를 변경한다.\n입출금·예금·적금 계좌를 모두 지원하며 동일 멱등키 재요청은 최초 응답을 재생한다.\n",
        "operationId": "updateAccountPassword",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "비밀번호를 변경할 계좌의 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 101
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "UUID v4 멱등키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPasswordChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계좌비밀번호 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccountPasswordChangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `CMN0002` 필수값 누락 · `APW0002` 신규 비밀번호 확인 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`APW0101` 비밀번호 오류 잠금 · `APW0102` 계좌비밀번호 인증 토큰 오류 · `OTP0101` OTP 인증 토큰 오류 · `OTP0102` OTP 거래정보 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ACC0301` 거래정지·해지 계좌 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/alias": {
      "put": {
        "tags": [
          "계좌"
        ],
        "summary": "계좌별명 등록/수정",
        "description": "로그인한 고객이 소유한 계좌의 별명을 등록하거나 수정한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면\n새로 처리하지 않고 저장된 응답을 반환한다.\n",
        "operationId": "updateAccountAlias",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "별명을 등록하거나 수정할 계좌의 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 101
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAliasChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계좌별명 등록/수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccountAliasResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 입력값 또는 Idempotency-Key 누락 · `ACC0001` 계좌별명 길이 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "계좌"
        ],
        "summary": "계좌별명 삭제",
        "description": "로그인한 고객이 소유한 계좌에 설정된 별명을 삭제한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면\n새로 처리하지 않고 저장된 응답을 반환한다.\n",
        "operationId": "deleteAccountAlias",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "별명을 삭제할 계좌의 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 101
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "계좌별명 삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account-preferences/display-order": {
      "put": {
        "tags": [
          "계좌 설정"
        ],
        "summary": "계좌 표시순서 저장",
        "description": "전체 계좌조회 화면에서 사용할 계좌 표시순서를 저장한다.\naccountIds는 로그인 고객이 소유한 계좌 ID로 구성해야 한다.\n",
        "operationId": "saveAccountDisplayOrder",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDisplayOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계좌 표시순서 저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccountDisplayOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 입력값/Idempotency-Key 누락 · `ACC0002` 올바르지 않은 표시순서",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "계좌 설정"
        ],
        "summary": "계좌 표시순서 초기화",
        "description": "저장된 계좌 표시순서를 삭제하고 기본 표시순서로 초기화한다.",
        "operationId": "resetAccountDisplayOrder",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "계좌 표시순서 초기화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccountDisplayOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 필수 Idempotency-Key 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfers": {
      "get": {
        "tags": [
          "이체"
        ],
        "summary": "이체결과 목록 조회",
        "description": "출금계좌 단위로 기간·처리상태·정렬·페이징 조건에 맞는 이체결과 목록과 집계를 조회한다.",
        "operationId": "searchTransfers",
        "parameters": [
          {
            "name": "withdrawalAccountId",
            "in": "query",
            "description": "조회할 출금계좌 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 101
          },
          {
            "name": "status",
            "in": "query",
            "description": "처리상태 필터. SUCCESS/ERROR, 미지정 또는 ALL이면 전체",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "SUCCESS"
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "조회 시작일(미지정 시 종료일-1개월)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-01"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "조회 종료일(미지정 시 오늘)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-31"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "정렬 조건. LATEST(최신순)·OLDEST(과거순). 생략 시 LATEST",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LATEST",
              "enum": [
                "LATEST",
                "OLDEST"
              ]
            },
            "example": "LATEST"
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호(0부터 시작). all=true면 무시됨",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용. all=true면 무시됨",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          },
          {
            "name": "all",
            "in": "query",
            "description": "true면 페이지 구분 없이 조건에 맞는 전체 건을 반환",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTransferHistoryPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "`TRF0001` 등록되지 않은/타인 소유 출금계좌 · `CMN0003`/`CMN0004` 조회기간 오류 · `CMN0005` 잘못된 페이지 크기",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "이체"
        ],
        "summary": "이체 실행",
        "description": "내 계좌에서 상대 계좌로 즉시이체를 실행한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "executeTransfer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "Account-Password-Auth-Token",
            "in": "header",
            "description": "계좌 비밀번호 인증 완료 후 발급되는 1회성 인증 토큰",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Otp-Auth-Token",
            "in": "header",
            "description": "OTP 인증 완료 후 발급되는 1회성 인증 토큰",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "이체 요청이 처리됨. 실행 자체의 성공 여부와 이체 성공 여부는 다르다 — 응답 본문의 status로 판단한다. status=ERROR면 errorCode에 `TRF0001`(등록되지 않은 출금계좌) · `TRF0002`(출금·입금계좌 동일) · `TRF0004`(입금 불가 상품유형) · `TRF0201`(입금계좌를 찾을 수 없음) · `TRF0301`/`TRF0304`(거래정지·해지 상태의 입금/출금계좌) · `TRF0303`(출금계좌 잔액 부족) · `OTP0101`(OTP 인증 토큰 무효) · `OTP0102`(인증한 거래 내용과 요청 내용 불일치) 중 하나가 담긴다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "`TRF0003` 이체금액 형식 오류 · `TRF0005` 통장 표시내용 길이 초과 (요청 파싱 단계에서 즉시 거부됨)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/favorite-accounts": {
      "get": {
        "tags": [
          "자주 쓰는 계좌"
        ],
        "summary": "자주 쓰는 계좌 목록조회",
        "description": "내가 등록한 자주 쓰는 계좌 목록을 조회한다. 등록 건이 없으면 빈 배열을 반환한다.",
        "operationId": "getFavoriteAccounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListFavoriteAccountResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "자주 쓰는 계좌"
        ],
        "summary": "자주 쓰는 계좌 등록",
        "description": "입금계좌번호를 자주 쓰는 계좌로 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 등록하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "registerFavoriteAccount",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoriteAccountRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "등록 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFavoriteAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 필수 Idempotency-Key 누락 · `FAV0001` 별칭 길이 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`TRF0201` 입금계좌를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`FAV0301` 이미 등록된 계좌 · `FAV0302` 최대 20건 초과 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-transfers": {
      "get": {
        "tags": [
          "예약이체"
        ],
        "summary": "예약이체 목록조회",
        "description": "등록된 예약이체(대기중·실행완료·취소 등) 목록을 상태·출금계좌·조회기간으로 조회한다.",
        "operationId": "getScheduledTransfers",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "예약이체 상태 필터. 미전달 또는 ALL이면 전체 조회",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "WAITING"
          },
          {
            "name": "withdrawalAccountId",
            "in": "query",
            "description": "출금계좌 ID (내 계좌). 미전달 시 전체 계좌 대상",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1001
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "조회기간 시작일. fromDate/toDate 둘 다 미전달 시 기간 제한 없이 조회(기본값 없음)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-07-20"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "조회기간 종료일. fromDate/toDate 둘 다 미전달 시 기간 제한 없이 조회(기본값 없음)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-20"
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호(0부터 시작). all=true면 무시됨",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용. all=true면 무시됨",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          },
          {
            "name": "all",
            "in": "query",
            "description": "true면 페이지 구분 없이 조건에 맞는 전체 건을 반환",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageResponseScheduledTransferListItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` status 값이 올바르지 않음 · `CMN0003` 조회 시작일이 종료일보다 늦음 · `CMN0004` 조회기간이 최대 1년(365일) 초과 · `CMN0005` 지원하지 않는 페이지 크기(5/10/20/30/50 중 하나여야 함) · `CMN0006` 전체조회(all=true) 결과가 상한(100건) 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "예약이체"
        ],
        "summary": "예약이체 등록",
        "description": "지정한 출금계좌에서 미래 특정일에 1회 실행되도록 예약이체를 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "registerScheduledTransfer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledTransferRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "등록 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseScheduledTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "`SCD0001` 예약일자 범위 오류 · `SCD0005` 이체금액 오류 · `SCD0006` 통장 표시내용 길이 초과 · `SCD0007` 입금 불가 상품유형 · `LMT0002` 1회 이체한도 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`SCD0202` 출금계좌 소유자 아님/비활성 또는 입금계좌를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`SCD0301` 동일 조건의 예약이체 중복 등록 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-transfers/cancel": {
      "post": {
        "tags": [
          "예약이체"
        ],
        "summary": "예약이체 취소",
        "description": "대기(WAITING) 상태의 예약이체를 최대 50건까지 한 번에 취소한다. 실행 예정일 당일에는 취소할 수 없다. OTP 인증 토큰 하나가 요청한 ID 조합 전체를 덮고 1회만 소비되므로, OTP 발급 시 거래정보의 `scheduledTransferIds`에 이 요청과 같은 배열(오름차순 정렬·중복 제거)을 담아야 한다. 취소 불가 사유가 있는 건은 요청 전체를 실패시키지 않고 `items`에 건별 실패(`status: ERROR`)로 담아 반환한다. 이미 취소된 건은 재요청해도 실패가 아니라 `SUCCESS`로 반환한다. 건별 실패는 사전검증 단계에서만 판정된다 — 상태 변경(저장) 단계에서 다른 요청·배치의 동시 변경이 감지되면 한 트랜잭션이므로 그 요청의 어떤 건도 반영되지 않고 `CMN0303`이 반환되며, 이때 OTP 토큰은 이미 소비된 상태라 재인증이 필요하다. 계좌비밀번호 인증 토큰은 계좌 하나에 묶여 발급되므로 취소 대상은 모두 같은 출금계좌여야 한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "cancelScheduledTransfers",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "Account-Password-Auth-Token",
            "in": "header",
            "description": "계좌 비밀번호 인증 완료 후 발급되는 1회성 인증 토큰",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Otp-Auth-Token",
            "in": "header",
            "description": "OTP 인증 완료 후 발급되는 1회성 인증 토큰",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledTransferCancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "처리 완료. 건별 성공·실패는 `items`에 담기며, 취소 가능한 건이 하나도 없으면 OTP 토큰을 소비하지 않고 전건 실패 결과만 반환한다",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseScheduledTransferCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 취소할 ID 목록 누락 · `CMN0001` 50건 초과 또는 출금계좌가 서로 다른 건 혼합",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`OTP0101` OTP 인증 토큰 무효 · `OTP0102` 인증한 ID 조합과 요청 ID 조합 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌 · `CMN0303` 저장 단계에서 동시 변경 감지(전건 미반영)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product-subscriptions": {
      "post": {
        "tags": [
          "상품가입"
        ],
        "summary": "상품가입 실행",
        "description": "신규 계좌를 개설하고 상품에 가입한다. 계좌비밀번호 인증 토큰과 OTP 인증 토큰을 모두 받는다(REQ-PRDT-010).\n계좌비밀번호 토큰은 출금계좌에 묶어 검증·소비하고, 이어서 OTP 토큰을 검증·소비한다.\n가입금액·기간·약관동의 등은 사전검증(POST /product-subscriptions/validation)과 동일한 조건을\n실행 시점에 다시 검증하며, 여기서는 검증 실패가 곧 요청 거부라 400으로 던진다(violations로 응답하지 않음).\n정기예금(DEPOSIT)은 가입 시점에 초입금이 기표되고, 정기적금(SAVINGS)은 다음 회차부터 자동이체로 납입한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 반환한다.\n",
        "operationId": "createProductSubscription",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductSubscriptionExecuteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "상품가입 실행 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionExecuteResponse"
                }
              }
            }
          },
          "400": {
            "description": "`APW0002` 신규 비밀번호와 확인값 불일치 · `PRD0001`~`PRD0007` 가입조건 검증 실패(가입금액·기간·약관동의·판매상태 등) · `LMT0001` 출금가능금액 부족",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`APW0101` 출금계좌 비밀번호 5회 오류 잠금 · `APW0102` 계좌비밀번호 인증 토큰이 무효·만료·사용됨 또는 출금계좌·고객과 불일치 · `OTP0101` OTP 인증 토큰이 무효·만료·사용됨 · `OTP0102` 인증한 거래 내용과 요청한 가입내용이 다름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`PRD0201` 상품을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`PRD0301` 1인 1계좌 제한 상품에 이미 가입함 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product-subscriptions/validation": {
      "post": {
        "tags": [
          "상품가입"
        ],
        "summary": "상품가입 사전검증",
        "description": "실제 가입 실행 전에 가입금액·기간·약관동의·잔액 등 가입 조건을 미리 검증한다.\n검증 실패는 예외로 던지지 않고 200 + valid=false + violations[]로 응답한다 —\n필드별 오류를 화면에 동시에 표시해야 해서 하나만 틀려도 400을 던지면 나머지 결과를 알 수 없기 때문이다.\nproductId·withdrawalAccountId·agreedTerms[].termsId처럼 참조 자체가 무효한 경우만 예외로 던진다.\nsatisfiedConditionCodes는 클라이언트가 신고한 우대조건 코드를 그대로 신뢰해 미리보기 금리에 반영한다 —\n실제 가입 실행(POST /product-subscriptions)에서는 이 값을 받지 않고 우대금리를 적용하지 않는다.\n",
        "operationId": "validateProductSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductSubscriptionValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "검증 완료(가입 가능 여부는 응답의 valid로 판단)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionValidationResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`PRD0201` 상품을 찾을 수 없음 · `ACC0201` 출금계좌를 찾을 수 없거나 접근할 수 없음 · `PRD0202` agreedTerms에 이 상품과 연결되지 않은 termsId가 있음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/otp/verify": {
      "post": {
        "tags": [
          "OTP"
        ],
        "summary": "거래 OTP 검증",
        "description": "발급된 OTP를 검증하고 최종 거래에서 한 번 사용할 수 있는 otpAuthToken을 발급한다.",
        "operationId": "verifyOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OTP 검증 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVerifyOtpResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `OTP0001` OTP 번호 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`CMN0102` 다른 고객의 OTP 요청 · `OTP0103` OTP 오류 횟수 초과 · `OTP0104` OTP 만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`OTP0201` OTP 요청을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/otp/issue": {
      "post": {
        "tags": [
          "OTP"
        ],
        "summary": "거래 OTP 발급",
        "description": "로그인 고객의 거래 유형과 핵심 거래정보를 묶어 숫자 6자리 OTP를 발급한다.",
        "operationId": "issueOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OTP 발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseIssueOtpResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 거래 유형 또는 거래정보 형식 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0303` OTP 발급 상태가 다른 요청에 의해 변경됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auto-transfers": {
      "get": {
        "tags": [
          "자동이체"
        ],
        "summary": "자동이체 목록조회",
        "description": "내 출금계좌 기준으로 등록된 자동이체 목록을 상태별로 조회한다.",
        "operationId": "getAutoTransfers",
        "parameters": [
          {
            "name": "withdrawalAccountId",
            "in": "query",
            "description": "출금계좌 ID (내 계좌)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1001
          },
          {
            "name": "status",
            "in": "query",
            "description": "자동이체 상태 필터. 미전달 또는 ALL이면 전체 조회",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NORMAL"
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호(0부터 시작)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용. all=true면 무시됨",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          },
          {
            "name": "all",
            "in": "query",
            "description": "true면 페이지 구분 없이 조건에 맞는 전체 건을 반환",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageResponseAutoTransferListItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` status 값이 올바르지 않음 · `CMN0002` 필수값 누락 · `CMN0005` 지원하지 않는 페이지 크기(5/10/20/30/50 중 하나여야 함)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "자동이체"
        ],
        "summary": "자동이체 등록",
        "description": "지정한 출금계좌에서 주기적으로 자동이체를 실행하도록 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "registerAutoTransfer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoTransferRegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "등록 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAutoTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "`AUT0001` 이체지정일 범위 오류 · `AUT0002` 이체기간 오류 · `AUT0004` 종료일 이전 최초 실행 없음 · `AUT0005` 입금 불가 상품유형 · `LMT0002` 1회 이체한도 초과 · `AUT0007` 이체주기 오류 · `AUT0008` 이체금액 오류 · `AUT0009` 통장 표시내용 길이 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`AUT0202` 출금계좌 소유자 아님/비활성 또는 입금계좌를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`AUT0301` 동일 조건의 자동이체 중복 등록 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auto-transfers/cancel": {
      "post": {
        "tags": [
          "자동이체"
        ],
        "summary": "자동이체 해지",
        "description": "등록된 자동이체를 최대 50건까지 한 번에 해지한다. 다음 실행 예정일 당일에는 해지할 수 없다. OTP 인증 토큰 하나가 요청한 ID 조합 전체를 덮고 1회만 소비되므로, OTP 발급 시 거래정보의 `autoTransferIds`에 이 요청과 같은 배열(오름차순 정렬·중복 제거)을 담아야 한다. 해지 불가 사유가 있는 건은 요청 전체를 실패시키지 않고 `items`에 건별 실패(`status: ERROR`)로 담아 반환한다. 이미 해지(TERMINATED)된 건은 재요청해도 실패가 아니라 `SUCCESS`로 반환하며, 기간 만료로 종료(EXPIRED)된 건은 `AUT0302` 실패다. 건별 실패는 사전검증 단계에서만 판정된다 — 상태 변경(저장) 단계에서 다른 요청·배치의 동시 변경이 감지되면 한 트랜잭션이므로 그 요청의 어떤 건도 반영되지 않고 `CMN0303`이 반환되며, 이때 OTP 토큰은 이미 소비된 상태라 재인증이 필요하다. 계좌비밀번호 인증 토큰은 계좌 하나에 묶여 발급되므로 해지 대상은 모두 같은 출금계좌여야 한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "cancelAutoTransfers",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "Account-Password-Auth-Token",
            "in": "header",
            "description": "계좌 비밀번호 인증 완료 후 발급되는 1회성 인증 토큰",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Otp-Auth-Token",
            "in": "header",
            "description": "OTP 인증 완료 후 발급되는 1회성 인증 토큰",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoTransferCancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "처리 완료. 건별 성공·실패는 `items`에 담기며, 해지 가능한 건이 하나도 없으면 OTP 토큰을 소비하지 않고 전건 실패 결과만 반환한다",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAutoTransferCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 해지할 ID 목록 누락 · `CMN0001` 50건 초과 또는 출금계좌가 서로 다른 건 혼합",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`OTP0101` OTP 인증 토큰 무효 · `OTP0102` 인증한 ID 조합과 요청 ID 조합 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌 · `CMN0303` 저장 단계에서 동시 변경 감지(전건 미반영)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-account": {
      "post": {
        "tags": [
          "회원가입"
        ],
        "summary": "회원가입 실명·계좌 인증",
        "description": "기존 은행 고객의 성명·생년월일·계좌번호·계좌비밀번호를 검증하고 accountAuthToken을 발급한다.",
        "operationId": "verifySignupAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifySignupAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "실명·계좌 인증 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVerifySignupAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `ATH0009` 실명 또는 계좌정보 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0102` 계좌비밀번호 오류 횟수 초과로 계좌 잠금",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ATH0303` 인증된 원장 고객이 이미 인터넷뱅킹에 가입됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/terms/check": {
      "post": {
        "tags": [
          "약관"
        ],
        "summary": "회원가입 약관 동의 검증",
        "description": "약관 버전·열람·동의 상태를 검증하고 termsAuthToken을 발급한다.",
        "operationId": "checkSignupTerms",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckTermsAgreementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "약관 동의 검증 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTermsAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 또는 약관 정보 오류 · `ATH0006` 필수 약관 미동의",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup/validate": {
      "post": {
        "tags": [
          "회원가입"
        ],
        "summary": "회원가입 입력정보 검증",
        "description": "최초 요청은 네 인증 토큰을 검증·소비하고 tempSignupToken을 발급한다. 정보수정 요청은 기존 임시 토큰을 전달하며 아이디 또는 이메일 변경 시에만 새 인증 토큰이 필요하다.\n",
        "operationId": "validateSignup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateSignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "입력 검증 성공 및 tempSignupToken 발급",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseValidateSignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "CMN0001 입력·임시토큰 오류, ATH0001·ATH0002·ATH0004·ATH0005 입력 검증 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "ATH0103 이메일 토큰, ATH0104 약관 토큰, ATH0105 계좌 토큰 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "ATH0301 아이디 중복, ATH0302 이메일 중복",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup/complete": {
      "post": {
        "tags": [
          "회원가입"
        ],
        "summary": "회원가입 완료",
        "description": "tempSignupToken을 소비하고 고객·약관 동의·기존 은행 계좌를 원자적으로 등록한다.",
        "operationId": "completeSignup",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "UUID v4 멱등키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteSignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "회원가입 완료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCompleteSignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "CMN0001 임시 가입 토큰 오류 또는 CMN0002 멱등키 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "ATH0301·ATH0302·ATH0303 중복, ACC0304 계좌 중복 또는 CMN0301·CMN0302 멱등성 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset-requests": {
      "post": {
        "tags": [
          "인증"
        ],
        "summary": "비밀번호 재설정 인증번호 발급",
        "description": "아이디·성명·가입 이메일이 모두 일치하는 고객에게 180초 동안 유효한 인증번호를 발급한다. 재발급하면 기존 활성 인증 요청은 즉시 무효화된다.",
        "operationId": "issuePasswordReset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetIssueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "인증번호 발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePasswordResetIssueResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 입력 형식 오류 · `CMN0002` 필수 입력값 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0102` 로그인 비밀번호 5회 오류로 고객 계정 잠금",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0201` 입력한 정보와 일치하는 고객 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "인증"
        ],
        "summary": "로그인",
        "description": "아이디와 비밀번호를 검증하고 JSESSIONID 세션과 CSRF 쿠키를 발급한다.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 또는 필수 입력값 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`ATH0101` 아이디 또는 비밀번호 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0102` 로그인 비밀번호 오류 횟수 초과로 계정 잠금 · `ATH0106` 관리자 이용정지 계정(비밀번호가 일치할 때만 반환)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/find-id": {
      "post": {
        "tags": [
          "인증"
        ],
        "summary": "아이디 찾기",
        "description": "성명·생년월일·당행 계좌번호·계좌비밀번호를 검증하고 전체 로그인 아이디를 반환한다.",
        "operationId": "findId",
        "requestBody": {
          "description": "아이디 찾기 본인확인 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "아이디 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFindIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 입력 형식 오류 · `CMN0002` 필수 입력값 누락 · `ATH0009` 고객 또는 계좌정보 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0102` 계좌비밀번호 5회 오류로 계좌 잠금",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0201` 일치하는 고객 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-verifications": {
      "post": {
        "tags": [
          "회원가입"
        ],
        "summary": "이메일 인증번호 발급",
        "description": "회원가입 또는 이메일 변경에 사용할 인증번호와 emailVerificationId를 발급한다.",
        "operationId": "issueEmailVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueEmailVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "이메일 인증번호 발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseIssueEmailVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 이메일 또는 인증 목적 형식 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ATH0302` 회원가입에 이미 사용 중인 이메일",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-verifications/{emailVerificationId}/verify": {
      "post": {
        "tags": [
          "회원가입"
        ],
        "summary": "이메일 인증번호 검증",
        "description": "이메일 인증번호를 검증하고 emailVerificationToken을 발급한다.",
        "operationId": "verifyEmail",
        "parameters": [
          {
            "name": "emailVerificationId",
            "in": "path",
            "description": "이메일 인증 요청 식별자",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EMAIL_REQ_7xP9qK2RmY5vLw8Z"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "이메일 인증 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVerifyEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `ATH0007` 인증번호 불일치 · `ATH0008` 인증번호 만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0202` 이메일 인증 요청을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/check-id": {
      "post": {
        "tags": [
          "회원가입"
        ],
        "summary": "회원가입 아이디 중복확인",
        "description": "로그인 아이디 형식과 중복 여부를 확인하고 userIdCheckToken을 발급한다.",
        "operationId": "checkUserId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckUserIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "사용 가능한 아이디 확인 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCheckUserIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `ATH0004` 아이디 형식 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ATH0301` 이미 사용 중인 아이디",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customers/{customerId}/unlock": {
      "post": {
        "tags": [
          "관리자 고객 계정 운영"
        ],
        "summary": "관리자 계정 잠금 해제",
        "description": "잠금을 풀고 연속 로그인 실패 횟수를 0으로 되돌린다(REQ-AUTH-026·035). 이미 풀린 계정도 200이다.",
        "operationId": "unlockAdminCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "고객 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 1
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "해제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAdminUnlockResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`CMN0102` 자기 자신 대상 또는 관리자 허용 목록 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0201` 대상 고객 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customers/{customerId}/status": {
      "post": {
        "tags": [
          "관리자 고객 계정 운영"
        ],
        "summary": "관리자 계정 상태 변경",
        "description": "계정을 이용정지(SUSPENDED)하거나 정상(ACTIVE)으로 되돌린다. 정지된 고객은 비밀번호가 맞아도 로그인이 ATH0106으로 거부된다. 잠금·실패 횟수는 바꾸지 않는다. 이미 같은 상태여도 200이다. 이미 로그인한 세션은 끊지 않는다(무조작 10분 만료까지 유효).",
        "operationId": "changeAdminCustomerStatus",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "고객 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 1
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminStatusChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAdminStatusChangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 정의되지 않은 status · `CMN0002` 멱등키 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`CMN0102` 자기 자신 대상 또는 관리자 허용 목록 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0201` 대상 고객 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/customers/{customerId}/password-reset": {
      "post": {
        "tags": [
          "관리자 고객 계정 운영"
        ],
        "summary": "관리자 로그인 비밀번호 초기화",
        "description": "임시 비밀번호를 발급해 이 응답으로 한 번만 돌려주고, 계정 잠금도 해제한다. 멱등키를 쓰지 않으며, 다시 요청하면 새 임시 비밀번호가 발급되고 이전 값은 쓸 수 없다.",
        "operationId": "resetAdminCustomerPassword",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "고객 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "초기화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAdminPasswordResetResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`CMN0102` 자기 자신 대상 또는 관리자 허용 목록 밖",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ATH0201` 대상 고객 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/password/verify": {
      "post": {
        "tags": [
          "계좌"
        ],
        "summary": "계좌비밀번호 검증",
        "description": "로그인 고객이 소유한 계좌의 숫자 4자리 비밀번호를 검증하고 300초 일회용 인증 토큰을 발급한다.",
        "operationId": "verifyAccountPassword",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "계좌비밀번호를 검증할 계좌의 내부 식별자",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            },
            "example": 101
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPasswordVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "계좌비밀번호 검증 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccountPasswordVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `CMN0002` 필수값 누락 · `APW0001` 비밀번호 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`APW0101` 계좌비밀번호 5회 오류로 잠김",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/favorite-accounts/{favoriteAccountId}": {
      "delete": {
        "tags": [
          "자주 쓰는 계좌"
        ],
        "summary": "자주 쓰는 계좌 삭제",
        "description": "등록된 자주 쓰는 계좌를 삭제한다. 동일한 Idempotency-Key와 동일한 요청으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "deleteFavoriteAccount",
        "parameters": [
          {
            "name": "favoriteAccountId",
            "in": "path",
            "description": "삭제할 즐겨찾기 계좌 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 301
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 필수 Idempotency-Key 누락",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`FAV0201` 등록된 계좌를 찾을 수 없음(본인 소유가 아닌 경우도 동일)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "자주 쓰는 계좌"
        ],
        "summary": "자주 쓰는 계좌 별칭 수정",
        "description": "등록된 자주 쓰는 계좌의 별칭을 수정한다. 별칭을 비우거나 공백만 보내면 예금주명으로 대체된다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "updateFavoriteAccount",
        "parameters": [
          {
            "name": "favoriteAccountId",
            "in": "path",
            "description": "수정할 즐겨찾기 계좌 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 301
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoriteAccountUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFavoriteAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0002` 필수 Idempotency-Key 누락 · `FAV0001` 별칭 길이 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`FAV0201` 등록된 계좌를 찾을 수 없음(본인 소유가 아닌 경우도 동일)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/me": {
      "get": {
        "tags": [
          "고객"
        ],
        "summary": "내 고객정보 조회",
        "description": "로그인한 고객의 기본정보를 개인정보 마스킹 규칙에 따라 조회한다.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "고객정보 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "고객"
        ],
        "summary": "내 고객정보 변경",
        "description": "휴대폰 번호 또는 이메일을 변경한다. 이메일 변경 시 유효한 이메일 인증 토큰이 필요하다.",
        "operationId": "updateMe",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "UUID v4 멱등키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInfoUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "고객정보 변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerInfoUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CMN0001` 요청 형식 오류 · `CMN0002` 필수값 또는 멱등키 누락 · `MYP0001` 휴대폰 번호 형식 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "`ATH0103` 이메일 인증 토큰 오류",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`ATH0302` 이메일 중복 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auto-transfers/{autoTransferId}": {
      "patch": {
        "tags": [
          "자동이체"
        ],
        "summary": "자동이체 변경",
        "description": "등록된 자동이체의 금액·이체주기·종료일·통장 표시내용을 변경한다. 출금계좌·입금계좌·이체지정일은 변경할 수 없다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
        "operationId": "updateAutoTransfer",
        "parameters": [
          {
            "name": "autoTransferId",
            "in": "path",
            "description": "변경할 자동이체 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoTransferChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAutoTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "`AUT0002` 이체기간 오류 · `AUT0003` 변경 불가 항목 포함 · `AUT0004` 종료일 이전 최초 실행 없음 · `LMT0002` 1회 이체한도 초과 · `AUT0007` 이체주기 오류 · `AUT0008` 이체금액 오류 · `AUT0009` 통장 표시내용 길이 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "`AUT0201` 자동이체 등록 건을 찾을 수 없음(본인 소유가 아닌 경우도 동일)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`AUT0302` 정상 상태가 아닌 자동이체 · `CMN0301`/`CMN0302` 멱등키 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/{transactionNumber}": {
      "get": {
        "tags": [
          "이체"
        ],
        "summary": "이체결과 상세 조회",
        "description": "거래번호로 이체결과 상세를 조회한다.",
        "operationId": "getTransferDetail",
[...]
