{
  "openapi": "3.1.0",
  "info":
    {
      "title": "CoreBank API Specification",
      "description": "Corebank REST API 명세서",
      "version": "v1.0.0",
    },
  "servers":
    [
      {
        "url": "https://api.corebank.cloud/api/v1",
        "description": "배포 서버",
      },
      { "url": "http://localhost:8080/api/v1", "description": "로컬 서버" },
    ],
  "tags":
    [
      {
        "name": "자주 쓰는 계좌",
        "description": "즐겨찾기 계좌 등록 및 목록조회 API",
      },
      { "name": "계좌 설정", "description": "계좌 표시순서 설정 API" },
      { "name": "출금계좌", "description": "출금계좌 관리 API" },
      {
        "name": "이체",
        "description": "즉시이체 실행 및 수취인(예금주) 조회 API",
      },
      { "name": "계좌", "description": "계좌 조회 및 계좌별명 관리 API" },
    ],
  "paths":
    {
      "/withdrawal-accounts/{accountId}":
        {
          "put":
            {
              "tags": ["출금계좌"],
              "summary": "출금계좌 등록",
              "description": "로그인한 고객이 소유한 입출금계좌를 출금계좌로 등록한다.\n계좌비밀번호 및 OTP 인증 완료 후 발급된 인증 토큰이 필요하며,\n동일한 Idempotency-Key와 동일한 요청으로 재요청하면\n저장된 응답을 반환한다.\n",
              "operationId": "register",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "description": "출금계좌로 등록할 계좌의 내부 식별자",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                    "example": 101,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/WithdrawalAccountRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "출금계좌 등록 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseWithdrawalAccountRegisterResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락 · `ACC0003` 출금계좌 등록 불가 계좌 유형",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`ACC0301` 거래정지 또는 해지 상태 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "delete":
            {
              "tags": ["출금계좌"],
              "summary": "출금계좌 등록 삭제",
              "description": "로그인한 고객이 소유한 계좌의 출금계좌 등록을 삭제한다.\n예약이체 또는 자동이체에서 사용 중인 출금계좌는 삭제할 수 없다.\n이미 출금계좌 등록이 해제된 경우에도 성공으로 처리하며,\n동일한 Idempotency-Key와 동일한 요청으로 재요청하면\n저장된 응답을 반환한다.\n",
              "operationId": "unregister",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "출금계좌 등록 삭제 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseWithdrawalAccountUnregisterResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`ACC0302` 예약이체 또는 자동이체 사용으로 삭제 불가 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/accounts/{accountId}/alias":
        {
          "put":
            {
              "tags": ["계좌"],
              "summary": "계좌별명 등록/수정",
              "description": "로그인한 고객이 소유한 계좌의 별명을 등록하거나 수정한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면\n새로 처리하지 않고 저장된 응답을 반환한다.\n",
              "operationId": "changeAlias",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "description": "별명을 등록하거나 수정할 계좌의 내부 식별자",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                    "example": 101,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AccountAliasChangeRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "계좌별명 등록/수정 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountAliasResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 입력값 또는 Idempotency-Key 누락 · `ACC0001` 계좌별명 길이 제한 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "delete":
            {
              "tags": ["계좌"],
              "summary": "계좌별명 삭제",
              "description": "로그인한 고객이 소유한 계좌에 설정된 별명을 삭제한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면\n새로 처리하지 않고 저장된 응답을 반환한다.\n",
              "operationId": "deleteAlias",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "description": "별명을 삭제할 계좌의 내부 식별자",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                    "example": 101,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "계좌별명 삭제 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVoid",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/account-preferences/display-order":
        {
          "put":
            {
              "tags": ["계좌 설정"],
              "summary": "계좌 표시순서 저장",
              "description": "전체 계좌조회 화면에서 사용할 계좌 표시순서를 저장한다.\naccountIds는 로그인 고객이 소유한 계좌 ID로 구성해야 한다.\n",
              "operationId": "saveDisplayOrder",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AccountDisplayOrderRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "계좌 표시순서 저장 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountDisplayOrderResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 입력값/Idempotency-Key 누락 · `ACC0002` 올바르지 않은 표시순서",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "delete":
            {
              "tags": ["계좌 설정"],
              "summary": "계좌 표시순서 초기화",
              "description": "저장된 계좌 표시순서를 삭제하고 기본 표시순서로 초기화한다.",
              "operationId": "resetDisplayOrder",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "계좌 표시순서 초기화 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountDisplayOrderResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0002` 필수 Idempotency-Key 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers":
        {
          "post":
            {
              "tags": ["이체"],
              "summary": "이체 실행",
              "description": "내 계좌에서 상대 계좌로 즉시이체를 실행한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "execute",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                  {
                    "name": "Account-Password-Auth-Token",
                    "in": "header",
                    "description": "계좌 비밀번호/OTP 인증 완료 후 발급되는 1회성 인증 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            { "$ref": "#/components/schemas/TransferRequest" },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "400":
                    {
                      "description": "`TRF0003` 이체금액 형식 오류 · `TRF0005` 통장 표시내용 길이 초과 (요청 파싱 단계에서 즉시 거부됨)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "200":
                    {
                      "description": "이체 요청이 처리됨. 실행 자체의 성공 여부와 이체 성공 여부는 다르다 — 응답 본문의 status로 판단한다. status=ERROR면 errorCode에 `TRF0001`(등록되지 않은 출금계좌) · `TRF0002`(출금·입금계좌 동일) · `TRF0004`(입금 불가 상품유형) · `TRF0201`(입금계좌를 찾을 수 없음) · `TRF0301`/`TRF0304`(거래정지·해지 상태의 입금/출금계좌) · `TRF0303`(출금계좌 잔액 부족) 중 하나가 담긴다.",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseTransferResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers/favorite-accounts":
        {
          "get":
            {
              "tags": ["자주 쓰는 계좌"],
              "summary": "자주 쓰는 계좌 목록조회",
              "description": "내가 등록한 자주 쓰는 계좌 목록을 조회한다. 등록 건이 없으면 빈 배열을 반환한다.",
              "operationId": "list",
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseListFavoriteAccountResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["자주 쓰는 계좌"],
              "summary": "자주 쓰는 계좌 등록",
              "description": "입금계좌번호를 자주 쓰는 계좌로 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 등록하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "register_1",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/FavoriteAccountRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "등록 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseFavoriteAccountResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0002` 필수 Idempotency-Key 누락 · `FAV0001` 별칭 길이 제한 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`TRF0201` 입금계좌를 찾을 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`FAV0301` 이미 등록된 계좌 · `FAV0302` 최대 20건 초과 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/scheduled-transfers":
        {
          "get":
            {
              "tags": ["scheduled-transfer-controller"],
              "operationId": "search",
              "parameters":
                [
                  {
                    "name": "status",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePageResponseScheduledTransferListItemResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["scheduled-transfer-controller"],
              "operationId": "register_2",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ScheduledTransferRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseScheduledTransferResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/scheduled-transfers/{scheduledTransferId}/cancel":
        {
          "post":
            {
              "tags": ["scheduled-transfer-controller"],
              "operationId": "cancel",
              "parameters":
                [
                  {
                    "name": "scheduledTransferId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "Account-Password-Auth-Token",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "Otp-Auth-Token",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseScheduledTransferCancelResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/product-subscriptions/validation":
        {
          "post":
            {
              "tags": ["product-subscription-controller"],
              "operationId": "validate",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ProductSubscriptionValidationRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionValidationResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auto-transfers":
        {
          "get":
            {
              "tags": ["auto-transfer-controller"],
              "operationId": "search_1",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePageResponseAutoTransferListItemResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["auto-transfer-controller"],
              "operationId": "register_3",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AutoTransferRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAutoTransferResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/verify-account":
        {
          "post":
            {
              "tags": ["회원가입 실명·계좌 인증"],
              "summary": "회원가입 실명·계좌 인증",
              "operationId": "verifyAccount",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/VerifySignupAccountRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVerifySignupAccountResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/terms/check":
        {
          "post":
            {
              "tags": ["signup-terms-controller"],
              "operationId": "checkTerms",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CheckTermsAgreementRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseTermsAuthTokenResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/signup/validate":
        {
          "post":
            {
              "tags": ["회원가입 진행"],
              "summary": "회원가입 입력정보 검증",
              "description": "최초 요청은 네 인증 토큰을 검증·소비하고 tempSignupToken을 발급한다. 정보수정 요청은 기존 임시 토큰을 전달하며 아이디 또는 이메일 변경 시에만 새 인증 토큰이 필요하다.\n",
              "operationId": "validate_1",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ValidateSignupRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "입력 검증 성공 및 tempSignupToken 발급",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseValidateSignupResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "CMN0001 입력·임시토큰 오류, ATH0001·ATH0002·ATH0004·ATH0005 입력 검증 오류",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "403":
                    {
                      "description": "ATH0103 이메일 토큰, ATH0104 약관 토큰, ATH0105 계좌 토큰 오류",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "ATH0301 아이디 중복, ATH0302 이메일 중복",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/signup/complete":
        {
          "post":
            {
              "tags": ["회원가입 완료"],
              "summary": "회원가입 완료",
              "description": "tempSignupToken을 소비하고 고객·약관 동의·기존 은행 계좌를 원자적으로 등록한다.",
              "operationId": "complete",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CompleteSignupRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "회원가입 완료",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseCompleteSignupResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "CMN0001 임시 가입 토큰 오류 또는 CMN0002 멱등키 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "ATH0301·ATH0302 중복 또는 CMN0301·CMN0302 멱등성 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/login":
        {
          "post":
            {
              "tags": ["login-controller"],
              "operationId": "login",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            { "$ref": "#/components/schemas/LoginRequest" },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseLoginResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/email-verifications":
        {
          "post":
            {
              "tags": ["회원가입 식별정보 인증"],
              "summary": "회원가입 이메일 인증번호 발급",
              "operationId": "issueEmailVerification",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/IssueEmailVerificationRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseIssueEmailVerificationResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/email-verifications/{emailVerificationId}/verify":
        {
          "post":
            {
              "tags": ["회원가입 식별정보 인증"],
              "summary": "회원가입 이메일 인증번호 검증",
              "operationId": "verifyEmail",
              "parameters":
                [
                  {
                    "name": "emailVerificationId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/VerifyEmailRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVerifyEmailResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/check-id":
        {
          "post":
            {
              "tags": ["회원가입 식별정보 인증"],
              "summary": "회원가입 아이디 중복확인",
              "operationId": "checkUserId",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CheckUserIdRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseCheckUserIdResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auto-transfers/{autoTransferId}":
        {
          "delete":
            {
              "tags": ["auto-transfer-controller"],
              "operationId": "cancel_1",
              "parameters":
                [
                  {
                    "name": "autoTransferId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "Account-Password-Auth-Token",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVoid",
                                },
                            },
                        },
                    },
                },
            },
          "patch":
            {
              "tags": ["auto-transfer-controller"],
              "operationId": "change",
              "parameters":
                [
                  {
                    "name": "autoTransferId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AutoTransferChangeRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAutoTransferResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers/payee":
        {
          "get":
            {
              "tags": ["이체"],
              "summary": "수취인(예금주) 조회",
              "description": "이체 실행 전 입금계좌번호로 예금주명을 조회한다.",
              "operationId": "inquirePayee",
              "parameters":
                [
                  {
                    "name": "accountNumber",
                    "in": "query",
                    "description": "조회할 입금계좌번호 (하이픈 없이)",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": 11012345678901,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePayeeResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`TRF0201` 입금계좌를 찾을 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`TRF0301` 거래정지 또는 해지 상태의 입금계좌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/scheduled-transfers/executions":
        {
          "get":
            {
              "tags": ["scheduled-transfer-controller"],
              "operationId": "searchExecutionResults",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "default": "LATEST",
                        "enum": ["LATEST", "OLDEST"],
                      },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseScheduledTransferExecutionResultPageResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/products":
        {
          "get":
            {
              "tags": ["product-controller"],
              "operationId": "searchProducts",
              "parameters":
                [
                  {
                    "name": "productGroup",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "string", "enum": ["SAVINGS", "DEPOSIT"] },
                  },
                  {
                    "name": "keyword",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "default": "RATE",
                        "enum": ["RATE", "NEW", "NAME"],
                      },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePageResponseProductListItemResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/products/{productId}":
        {
          "get":
            {
              "tags": ["product-controller"],
              "operationId": "getProductDetail",
              "parameters":
                [
                  {
                    "name": "productId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductDetailResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/products/{productId}/terms/{termsId}":
        {
          "get":
            {
              "tags": ["product-controller"],
              "operationId": "getProductTerms",
              "parameters":
                [
                  {
                    "name": "productId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "termsId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductTermsViewResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/product-subscriptions/{subscriptionId}":
        {
          "get":
            {
              "tags": ["product-subscription-controller"],
              "operationId": "getProductSubscriptions",
              "parameters":
                [
                  {
                    "name": "subscriptionId",
                    "in": "path",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionResultResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/dashboard/login-status":
        {
          "get":
            {
              "tags": ["login-status-controller"],
              "operationId": "getLoginStatus",
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseLoginStatusResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auto-transfers/executions":
        {
          "get":
            {
              "tags": ["auto-transfer-controller"],
              "operationId": "searchExecutionHistory",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAutoTransferExecutionHistoryPageResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/terms":
        {
          "get":
            {
              "tags": ["signup-terms-controller"],
              "operationId": "getTerms",
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseSignupTermsResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/signup/confirm-info":
        {
          "get":
            {
              "tags": ["회원가입 진행"],
              "summary": "회원가입 확인정보 조회",
              "description": "tempSignupToken을 소비하지 않고 마스킹된 확인정보를 조회한다.",
              "operationId": "getConfirmation",
              "parameters":
                [
                  {
                    "name": "X-Signup-Token",
                    "in": "header",
                    "description": "회원가입 입력 검증 후 발급된 임시 가입 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "TEMP_SIGNUP_AbCdEf123456",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "마스킹된 확인정보 조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseSignupConfirmationResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "CMN0001 X-Signup-Token 누락·무효·만료",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/accounts":
        {
          "get":
            {
              "tags": ["계좌"],
              "summary": "전체 계좌 조회",
              "description": "로그인한 고객이 보유한 전체 계좌를 유형별로 그룹화하여 조회한다.",
              "operationId": "getAccounts",
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountOverviewResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/accounts/{accountId}/transactions":
        {
          "get":
            {
              "tags": ["계좌"],
              "operationId": "getTransactions",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "direction",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "enum": ["ALL", "DEPOSIT", "WITHDRAWAL"],
                      },
                  },
                  {
                    "name": "keyword",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "string", "enum": ["LATEST", "OLDEST"] },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "exclusiveMinimum": 0,
                      },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountTransactionResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
    },
  "components":
    {
      "schemas":
        {
          "WithdrawalAccountRegisterRequest":
            {
              "type": "object",
              "properties":
                {
                  "accountPasswordAuthToken":
                    {
                      "type": "string",
                      "description": "출금계좌 등록 용도로 발급된 계좌비밀번호 인증 완료 토큰",
                      "example": "APW-AUTH-20260730-000001",
                      "minLength": 1,
                    },
                  "otpAuthToken":
                    {
                      "type": "string",
                      "description": "출금계좌 등록 용도로 발급된 OTP 인증 완료 토큰",
                      "example": "OTP-AUTH-20260730-000001",
                      "minLength": 1,
                    },
                },
              "required": ["accountPasswordAuthToken", "otpAuthToken"],
            },
          "ErrorResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data": {},
                },
            },
          "ApiResponseWithdrawalAccountRegisterResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    {
                      "$ref": "#/components/schemas/WithdrawalAccountRegisterResponse",
                    },
                },
            },
          "WithdrawalAccountRegisterResponse":
            {
              "type": "object",
              "properties":
                {
                  "accountId":
                    {
                      "type": "integer",
                      "format": "int64",
                      "description": "출금계좌로 등록된 계좌의 내부 식별자",
                      "example": 101,
                    },
                  "registeredAt":
                    {
                      "type": "string",
                      "format": "date-time",
                      "description": "출금계좌 등록 시각",
                      "example": "2026-08-20T15:00:00+09:00",
                    },
                },
            },
          "AccountAliasChangeRequest":
            {
              "type": "object",
              "properties":
                {
                  "alias":
                    {
                      "type": "string",
                      "description": "계좌별명. 전체 최대 24자이며, 한글은 최대 12자",
                      "example": "생활비통장",
                    },
                },
            },
          "AccountAliasResponse":
            {
              "type": "object",
              "properties":
                {
                  "accountId":
                    {
                      "type": "integer",
                      "format": "int64",
                      "description": "계좌 내부 식별자",
                      "example": 101,
                    },
                  "alias":
                    {
                      "type": "string",
                      "description": "설정된 계좌별명",
                      "example": "생활비통장",
                    },
                },
            },
          "ApiResponseAccountAliasResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    { "$ref": "#/components/schemas/AccountAliasResponse" },
                },
            },
          "AccountDisplayOrderRequest":
            {
              "type": "object",
              "properties":
                {
                  "accountIds":
                    {
                      "type": "array",
                      "description": "화면에 표시할 순서대로 나열한 계좌 ID 목록",
                      "example": [103, 101, 102],
                      "items": { "type": "integer", "format": "int64" },
                    },
                },
            },
          "AccountDisplayOrderResponse":
            {
              "type": "object",
              "properties":
                {
                  "accountIds":
                    {
                      "type": "array",
                      "description": "저장된 계좌 표시순서",
                      "example": [103, 101, 102],
                      "items": { "type": "integer", "format": "int64" },
                    },
                },
            },
          "ApiResponseAccountDisplayOrderResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    {
                      "$ref": "#/components/schemas/AccountDisplayOrderResponse",
                    },
                },
            },
          "TransferRequest":
            {
              "type": "object",
              "properties":
                {
                  "withdrawalAccountId":
                    {
                      "type": "integer",
                      "format": "int64",
                      "description": "출금계좌 ID (내 계좌)",
                      "example": 1001,
                    },
                  "depositAccountNumber":
                    {
                      "type": "string",
                      "description": "입금계좌번호 (하이픈 없이)",
                      "example": "11012345678901",
                    },
                  "amount":
                    {
                      "type": "integer",
                      "format": "int64",
                      "description": "이체금액. 1원 이상의 정수",
                      "example": 50000,
                      "minimum": 1,
                    },
                  "myPassbookMemo":
                    {
                      "type": "string",
                      "description": "내 통장에 남길 표시내용. 최대 10자",
                      "example": "생활비",
                      "maxLength": 10,
                    },
                  "recipientPassbookMemo":
                    {
                      "type": "string",
                      "description": "상대 통장에 남길 표시내용. 최대 10자",
                      "example": "홍길동",
                      "maxLength": 10,
                    },
                },
            },
          "ApiResponseTransferResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data": { "$ref": "#/components/schemas/TransferResponse" },
                },
            },
          "TransferResponse":
            {
              "type": "object",
              "properties":
                {
                  "status":
                    {
                      "type": "string",
                      "description": "이체 처리 결과. SUCCESS/ERROR/PROCESSING(응답 유실 등으로 결과 미확정)",
                      "enum": ["SUCCESS", "ERROR", "PROCESSING"],
                    },
                  "transactionNumber":
                    {
                      "type": "string",
                      "description": "거래번호. 채번(순번 발급) 이후 시도부터 채워짐 — status=SUCCESS이거나 채번 후 실패면 값이 있고, 채번 전 실패(예: 등록되지 않은 출금계좌)면 비어있음",
                      "example": "202608190000001",
                    },
                  "transferredAt":
                    {
                      "type": "string",
                      "format": "date-time",
                      "description": "이체 처리 시각. status=SUCCESS일 때만 채워짐",
                    },
                  "errorCode":
                    {
                      "type": ["string", "null"],
                      "description": "실패 코드. status=ERROR일 때만 채워짐 (예: TRF0303)",
                    },
                  "errorMessage":
                    {
                      "type": ["string", "null"],
                      "description": "실패 메시지. status=ERROR일 때만 채워짐",
                    },
                  "withdrawalBalanceAfter":
                    {
                      "type": "integer",
                      "format": "int64",
                      "description": "이체 후 출금계좌 잔액. status=SUCCESS일 때만 채워짐",
                    },
                },
            },
          "FavoriteAccountRegisterRequest":
            {
              "type": "object",
              "properties":
                {
                  "depositAccountNumber":
                    {
                      "type": "string",
                      "description": "등록할 입금계좌번호 (하이픈 없이)",
                      "example": "11012345678901",
                    },
                  "alias":
                    {
                      "type": "string",
                      "description": "즐겨찾기 별칭",
                      "example": "우리 엄마",
                    },
                },
            },
          "ApiResponseFavoriteAccountResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    { "$ref": "#/components/schemas/FavoriteAccountResponse" },
                },
            },
          "FavoriteAccountResponse":
            {
              "type": "object",
              "properties":
                {
                  "favoriteAccountId":
                    {
                      "type": "integer",
                      "format": "int64",
                      "description": "즐겨찾기 계좌 ID",
                      "example": 301,
                    },
                  "alias":
                    {
                      "type": "string",
                      "description": "즐겨찾기 별칭",
                      "example": "우리 엄마",
                    },
                  "depositAccountNumber":
                    {
                      "type": "string",
                      "description": "입금계좌번호 (하이픈 없이)",
                      "example": "11012345678901",
                    },
                  "payeeName":
                    {
                      "type": "string",
                      "description": "예금주명",
                      "example": "홍길동",
                    },
                  "transferable":
                    {
                      "type": "boolean",
                      "description": "현재 이체 가능 여부. 등록 이후 계좌가 정지/해지되면 false",
                      "example": true,
                    },
                },
            },
          "ScheduledTransferRegisterRequest":
            {
              "type": "object",
              "properties":
                {
                  "withdrawalAccountId":
                    { "type": "integer", "format": "int64" },
                  "depositAccountNumber": { "type": "string" },
                  "payeeName": { "type": "string" },
                  "amount": { "type": "integer", "format": "int64" },
                  "scheduledDate": { "type": "string", "format": "date" },
                  "myPassbookMemo": { "type": "string" },
                  "recipientPassbookMemo": { "type": "string" },
                  "accountPasswordAuthToken": { "type": "string" },
                  "otpAuthToken": { "type": "string" },
                },
            },
          "ApiResponseScheduledTransferResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    {
                      "$ref": "#/components/schemas/ScheduledTransferResponse",
                    },
                },
            },
          "ScheduledTransferResponse":
            {
              "type": "object",
              "properties":
                {
                  "scheduledTransferId":
                    { "type": "integer", "format": "int64" },
                  "withdrawalAccountId":
                    { "type": "integer", "format": "int64" },
                  "depositAccountNumber": { "type": "string" },
                  "payeeName": { "type": "string" },
                  "amount": { "type": "integer", "format": "int64" },
                  "scheduledDate": { "type": "string", "format": "date" },
                  "myPassbookMemo": { "type": "string" },
                  "recipientPassbookMemo": { "type": "string" },
                  "status":
                    {
                      "type": "string",
                      "enum":
                        [
                          "WAITING",
                          "PROCESSING",
                          "SUCCESS",
                          "FAILED",
                          "CANCELED",
                        ],
                    },
                },
            },
          "ApiResponseScheduledTransferCancelResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    {
                      "$ref": "#/components/schemas/ScheduledTransferCancelResponse",
                    },
                },
            },
          "ScheduledTransferCancelResponse":
            {
              "type": "object",
              "properties":
                {
                  "scheduledTransferId":
                    { "type": "integer", "format": "int64" },
                  "status":
                    {
                      "type": "string",
                      "enum":
                        [
                          "WAITING",
                          "PROCESSING",
                          "SUCCESS",
                          "FAILED",
                          "CANCELED",
                        ],
                    },
                  "canceledAt": { "type": "string", "format": "date-time" },
                },
            },
          "AgreedTermsItem":
            {
              "type": "object",
              "properties":
                {
                  "termsId": { "type": "integer", "format": "int64" },
                  "version": { "type": "string" },
                },
              "required": ["termsId", "version"],
            },
          "ProductSubscriptionValidationRequest":
            {
              "type": "object",
              "properties":
                {
                  "productId": { "type": "integer", "format": "int64" },
                  "subscriptionAmount":
                    { "type": "integer", "format": "int64" },
                  "termMonths": { "type": "integer", "format": "int32" },
                  "withdrawalAccountId":
                    { "type": "integer", "format": "int64" },
                  "agreedTerms":
                    {
                      "type": "array",
                      "items":
                        { "$ref": "#/components/schemas/AgreedTermsItem" },
                    },
                  "satisfiedConditionCodes":
                    { "type": "array", "items": { "type": "string" } },
                },
              "required":
                [
                  "agreedTerms",
                  "productId",
                  "subscriptionAmount",
                  "termMonths",
                  "withdrawalAccountId",
                ],
            },
          "ApiResponseProductSubscriptionValidationResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    {
                      "$ref": "#/components/schemas/ProductSubscriptionValidationResponse",
                    },
                },
            },
          "ProductSubscriptionValidationResponse":
            {
              "type": "object",
              "properties":
                {
                  "valid": { "type": "boolean" },
                  "violations":
                    {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ViolationItem" },
                    },
                  "productGroup":
                    { "type": "string", "enum": ["SAVINGS", "DEPOSIT"] },
                  "baseRate": { "type": "number" },
                  "preferentialRate": { "type": "number" },
                  "appliedRate": { "type": "number" },
                  "maturityDate": { "type": "string", "format": "date" },
                  "expectedPrincipal": { "type": "integer", "format": "int64" },
                  "expectedInterest": { "type": "integer", "format": "int64" },
                  "expectedMaturityAmount":
                    { "type": "integer", "format": "int64" },
                  "withdrawalAccountNumber": { "type": "string" },
                  "withdrawalAccountBalance":
                    { "type": "integer", "format": "int64" },
                },
            },
          "ViolationItem":
            {
              "type": "object",
              "properties":
                {
                  "field": { "type": "string" },
                  "code": { "type": "string" },
                  "reason": { "type": "string" },
                },
            },
          "AutoTransferRegisterRequest":
            {
              "type": "object",
              "properties":
                {
                  "withdrawalAccountId":
                    { "type": "integer", "format": "int64" },
                  "depositAccountNumber": { "type": "string" },
                  "payeeName": { "type": "string" },
                  "amount": { "type": "integer", "format": "int64" },
                  "cycleMonths": { "type": "integer", "format": "int32" },
                  "transferDay": { "type": "integer", "format": "int32" },
                  "startDate": { "type": "string", "format": "date" },
                  "endDate": { "type": "string", "format": "date" },
                  "myPassbookMemo": { "type": "string" },
                  "recipientPassbookMemo": { "type": "string" },
                  "accountPasswordAuthToken": { "type": "string" },
                },
            },
          "ApiResponseAutoTransferResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    { "$ref": "#/components/schemas/AutoTransferResponse" },
                },
            },
          "AutoTransferResponse":
            {
              "type": "object",
              "properties":
                {
                  "autoTransferId": { "type": "integer", "format": "int64" },
                  "withdrawalAccountId":
                    { "type": "integer", "format": "int64" },
                  "depositAccountNumber": { "type": "string" },
                  "payeeName": { "type": "string" },
                  "amount": { "type": "integer", "format": "int64" },
                  "cycleMonths": { "type": "integer", "format": "int32" },
                  "transferDay": { "type": "integer", "format": "int32" },
                  "startDate": { "type": "string", "format": "date" },
                  "endDate": { "type": "string", "format": "date" },
                  "nextExecutionDate": { "type": "string", "format": "date" },
                  "myPassbookMemo": { "type": "string" },
                  "recipientPassbookMemo": { "type": "string" },
                  "status":
                    {
                      "type": "string",
                      "enum": ["NORMAL", "EXPIRED", "TERMINATED"],
                    },
                },
            },
          "VerifySignupAccountRequest":
            {
              "type": "object",
              "properties":
                {
                  "userName":
                    { "type": "string", "maxLength": 50, "minLength": 0 },
                  "birthDate":
                    { "type": "string", "minLength": 1, "pattern": "^\\d{6}$" },
                  "accountNumber":
                    {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^\\d{12}$",
                    },
                  "accountPassword":
                    { "type": "string", "minLength": 1, "pattern": "^\\d{4}$" },
                },
              "required":
                ["accountNumber", "accountPassword", "birthDate", "userName"],
            },
          "ApiResponseVerifySignupAccountResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    {
                      "$ref": "#/components/schemas/VerifySignupAccountResponse",
                    },
                },
            },
          "VerifySignupAccountResponse":
            {
              "type": "object",
              "properties":
                {
                  "accountAuthToken": { "type": "string" },
                  "expiresIn": { "type": "integer", "format": "int64" },
                },
            },
          "AgreedTermRequest":
            {
              "type": "object",
              "properties":
                {
                  "termsId": { "type": "string", "minLength": 1 },
                  "version": { "type": "string", "minLength": 1 },
                  "isAgreed": { "type": "boolean" },
                  "isRead": { "type": "boolean" },
                },
              "required": ["termsId", "version"],
            },
          "CheckTermsAgreementRequest":
            {
              "type": "object",
              "properties":
                {
                  "agreedTerms":
                    {
                      "type": "array",
                      "items":
                        { "$ref": "#/components/schemas/AgreedTermRequest" },
                      "minItems": 1,
                    },
                },
              "required": ["agreedTerms"],
            },
          "ApiResponseTermsAuthTokenResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    { "$ref": "#/components/schemas/TermsAuthTokenResponse" },
                },
            },
          "TermsAuthTokenResponse":
            {
              "type": "object",
              "properties":
                {
                  "termsAuthToken": { "type": "string" },
                  "expiresIn": { "type": "integer", "format": "int64" },
                },
            },
          "ValidateSignupRequest":
            {
              "type": "object",
              "properties":
                {
                  "termsAuthToken": { "type": "string" },
                  "accountAuthToken": { "type": "string" },
                  "userIdCheckToken": { "type": "string" },
                  "emailVerificationToken": { "type": "string" },
                  "tempSignupToken": { "type": "string" },
                  "userId":
                    {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^[a-z][a-z0-9]{5,15}$",
                    },
                  "userPassword": { "type": "string", "minLength": 1 },
                  "userPasswordConfirm": { "type": "string", "minLength": 1 },
                  "email":
                    {
                      "type": "string",
                      "format": "email",
                      "maxLength": 100,
                      "minLength": 0,
                    },
                  "phoneNumber":
                    {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^\\d{11}$",
                    },
                },
              "required":
                [
                  "email",
                  "phoneNumber",
                  "userId",
                  "userPassword",
                  "userPasswordConfirm",
                ],
            },
          "ApiResponseValidateSignupResponse":
            {
              "type": "object",
              "properties":
                {
                  "code": { "type": "string" },
                  "message": { "type": "string" },
                  "data":
                    { "$ref": "#/components/schemas/ValidateSignupResponse" },
                },
            },
          "ValidateSignupResponse":
            {
              "type": "object",
              "properties":
                {
                  "tempSignupToken": { "type": "string" },
                  "expiresIn": { "type": "integer", "format": "int64" },
                },
            },
          "CompleteSignupRequest":
            {
              "type": "object",
              "properties":
                { "tempSignupToken": { "type": "string", "minLength": 1 } },
              "required": ["tempSignupToken"],
            },
[...]
