{
  "openapi": "3.1.0",
  "info":
    {
      "title": "CoreBank API Specification",
      "description": "Corebank REST API 명세서",
      "version": "v1.0.0",
    },
  "servers":
    [
      {
        "url": "https://api.corebank.cloud/api/v1",
        "description": "배포 서버",
      },
      { "url": "http://localhost:8080/api/v1", "description": "로컬 서버" },
    ],
  "tags":
    [
      {
        "name": "예약이체",
        "description": "예약이체 등록·조회·취소 및 처리결과 조회 API",
      },
      {
        "name": "자주 쓰는 계좌",
        "description": "즐겨찾기 계좌 등록 및 목록조회 API",
      },
      { "name": "계좌 설정", "description": "계좌 표시순서 설정 API" },
      {
        "name": "자동이체",
        "description": "자동이체 등록·조회·변경·해지 및 처리결과 조회 API",
      },
      { "name": "출금계좌", "description": "출금계좌 관리 API" },
      {
        "name": "이체",
        "description": "즉시이체 실행 및 수취인(예금주) 조회 API",
      },
      { "name": "계좌", "description": "계좌 조회 및 계좌별명 관리 API" },
    ],
  "paths":
    {
      "/withdrawal-accounts/{accountId}":
        {
          "put":
            {
              "tags": ["출금계좌"],
              "summary": "출금계좌 등록",
              "description": "로그인한 고객이 소유한 입출금계좌를 출금계좌로 등록한다.\n계좌비밀번호 및 OTP 인증 완료 후 발급된 인증 토큰이 필요하며,\n동일한 Idempotency-Key와 동일한 요청으로 재요청하면\n저장된 응답을 반환한다.\n",
              "operationId": "register",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "description": "출금계좌로 등록할 계좌의 내부 식별자",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                    "example": 101,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/WithdrawalAccountRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "출금계좌 등록 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseWithdrawalAccountRegisterResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락 · `ACC0003` 출금계좌 등록 불가 계좌 유형",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`ACC0301` 거래정지 또는 해지 상태 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "delete":
            {
              "tags": ["출금계좌"],
              "summary": "출금계좌 등록 삭제",
              "description": "로그인한 고객이 소유한 계좌의 출금계좌 등록을 삭제한다.\n예약이체 또는 자동이체에서 사용 중인 출금계좌는 삭제할 수 없다.\n이미 출금계좌 등록이 해제된 경우에도 성공으로 처리하며,\n동일한 Idempotency-Key와 동일한 요청으로 재요청하면\n저장된 응답을 반환한다.\n",
              "operationId": "unregister",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "출금계좌 등록 삭제 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseWithdrawalAccountUnregisterResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`ACC0302` 예약이체 또는 자동이체 사용으로 삭제 불가 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/accounts/{accountId}/alias":
        {
          "put":
            {
              "tags": ["계좌"],
              "summary": "계좌별명 등록/수정",
              "description": "로그인한 고객이 소유한 계좌의 별명을 등록하거나 수정한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면\n새로 처리하지 않고 저장된 응답을 반환한다.\n",
              "operationId": "changeAlias",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "description": "별명을 등록하거나 수정할 계좌의 내부 식별자",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                    "example": 101,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AccountAliasChangeRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "계좌별명 등록/수정 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountAliasResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 입력값 또는 Idempotency-Key 누락 · `ACC0001` 계좌별명 길이 제한 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "delete":
            {
              "tags": ["계좌"],
              "summary": "계좌별명 삭제",
              "description": "로그인한 고객이 소유한 계좌에 설정된 별명을 삭제한다.\n동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면\n새로 처리하지 않고 저장된 응답을 반환한다.\n",
              "operationId": "deleteAlias",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "description": "별명을 삭제할 계좌의 내부 식별자",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                    "example": 101,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "계좌별명 삭제 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVoid",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 Idempotency-Key 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/account-preferences/display-order":
        {
          "put":
            {
              "tags": ["계좌 설정"],
              "summary": "계좌 표시순서 저장",
              "description": "전체 계좌조회 화면에서 사용할 계좌 표시순서를 저장한다.\naccountIds는 로그인 고객이 소유한 계좌 ID로 구성해야 한다.\n",
              "operationId": "saveDisplayOrder",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AccountDisplayOrderRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "계좌 표시순서 저장 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountDisplayOrderResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` 잘못된 입력값 · `CMN0002` 필수 입력값/Idempotency-Key 누락 · `ACC0002` 올바르지 않은 표시순서",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`ACC0201` 계좌를 찾을 수 없거나 접근할 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "delete":
            {
              "tags": ["계좌 설정"],
              "summary": "계좌 표시순서 초기화",
              "description": "저장된 계좌 표시순서를 삭제하고 기본 표시순서로 초기화한다.",
              "operationId": "resetDisplayOrder",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키와 동일 요청 재요청 시 저장된 응답 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "계좌 표시순서 초기화 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountDisplayOrderResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0002` 필수 Idempotency-Key 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers":
        {
          "get":
            {
              "tags": ["이체"],
              "summary": "이체결과 목록 조회",
              "description": "출금계좌 단위로 기간·처리상태·정렬·페이징 조건에 맞는 이체결과 목록과 집계를 조회한다.",
              "operationId": "search",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "description": "조회할 출금계좌 ID",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 101,
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "description": "처리상태 필터. SUCCESS/ERROR/PROCESSING, 미지정 또는 ALL이면 전체",
                    "required": false,
                    "schema": { "type": "string" },
                    "example": "SUCCESS",
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "description": "조회 시작일(미지정 시 종료일-1개월)",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-08-01",
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "description": "조회 종료일(미지정 시 오늘)",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-08-31",
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "default": "LATEST",
                        "enum": ["LATEST", "OLDEST"],
                      },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseTransferHistoryPageResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`TRF0001` 등록되지 않은/타인 소유 출금계좌 · `CMN0003`/`CMN0004` 조회기간 오류 · `CMN0005` 잘못된 페이지 크기",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["이체"],
              "summary": "이체 실행",
              "description": "내 계좌에서 상대 계좌로 즉시이체를 실행한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "execute",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                  {
                    "name": "Account-Password-Auth-Token",
                    "in": "header",
                    "description": "계좌 비밀번호/OTP 인증 완료 후 발급되는 1회성 인증 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            { "$ref": "#/components/schemas/TransferRequest" },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "400":
                    {
                      "description": "`TRF0003` 이체금액 형식 오류 · `TRF0005` 통장 표시내용 길이 초과 (요청 파싱 단계에서 즉시 거부됨)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "200":
                    {
                      "description": "이체 요청이 처리됨. 실행 자체의 성공 여부와 이체 성공 여부는 다르다 — 응답 본문의 status로 판단한다. status=ERROR면 errorCode에 `TRF0001`(등록되지 않은 출금계좌) · `TRF0002`(출금·입금계좌 동일) · `TRF0004`(입금 불가 상품유형) · `TRF0201`(입금계좌를 찾을 수 없음) · `TRF0301`/`TRF0304`(거래정지·해지 상태의 입금/출금계좌) · `TRF0303`(출금계좌 잔액 부족) 중 하나가 담긴다.",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseTransferResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers/favorite-accounts":
        {
          "get":
            {
              "tags": ["자주 쓰는 계좌"],
              "summary": "자주 쓰는 계좌 목록조회",
              "description": "내가 등록한 자주 쓰는 계좌 목록을 조회한다. 등록 건이 없으면 빈 배열을 반환한다.",
              "operationId": "list",
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseListFavoriteAccountResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["자주 쓰는 계좌"],
              "summary": "자주 쓰는 계좌 등록",
              "description": "입금계좌번호를 자주 쓰는 계좌로 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 등록하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "register_1",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/FavoriteAccountRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "등록 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseFavoriteAccountResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0002` 필수 Idempotency-Key 누락 · `FAV0001` 별칭 길이 제한 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`TRF0201` 입금계좌를 찾을 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`FAV0301` 이미 등록된 계좌 · `FAV0302` 최대 20건 초과 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/scheduled-transfers":
        {
          "get":
            {
              "tags": ["예약이체"],
              "summary": "예약이체 목록조회",
              "description": "등록된 예약이체(대기중·실행완료·취소 등) 목록을 상태·출금계좌·조회기간으로 조회한다.",
              "operationId": "search_1",
              "parameters":
                [
                  {
                    "name": "status",
                    "in": "query",
                    "description": "예약이체 상태 필터. 미전달 또는 ALL이면 전체 조회",
                    "required": false,
                    "schema": { "type": "string" },
                    "example": "WAITING",
                  },
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "description": "출금계좌 ID (내 계좌). 미전달 시 전체 계좌 대상",
                    "required": false,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1001,
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "description": "조회기간 시작일. fromDate/toDate 둘 다 미전달 시 기간 제한 없이 조회(기본값 없음)",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-07-20",
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "description": "조회기간 종료일. fromDate/toDate 둘 다 미전달 시 기간 제한 없이 조회(기본값 없음)",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-08-20",
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "description": "페이지 번호(0부터 시작)",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                    "example": 0,
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                    "example": 10,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePageResponseScheduledTransferListItemResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` status 값이 올바르지 않음 · `CMN0003` 조회 시작일이 종료일보다 늦음 · `CMN0004` 조회기간이 최대 1년(365일) 초과 · `CMN0005` 지원하지 않는 페이지 크기(5/10/20/30/50 중 하나여야 함)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["예약이체"],
              "summary": "예약이체 등록",
              "description": "지정한 출금계좌에서 미래 특정일에 1회 실행되도록 예약이체를 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "register_2",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ScheduledTransferRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "등록 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseScheduledTransferResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`SCD0001` 예약일자 범위 오류 · `SCD0005` 이체금액 오류 · `SCD0006` 통장 표시내용 길이 초과 · `SCD0007` 입금 불가 상품유형 · `SCD0008` 1회 이체한도 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`SCD0202` 출금계좌 소유자 아님/비활성 또는 입금계좌를 찾을 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`SCD0301` 동일 조건의 예약이체 중복 등록 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/scheduled-transfers/{scheduledTransferId}/cancel":
        {
          "post":
            {
              "tags": ["예약이체"],
              "summary": "예약이체 취소",
              "description": "대기(WAITING) 상태의 예약이체를 취소한다. 실행 예정일 당일에는 취소할 수 없다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "cancel",
              "parameters":
                [
                  {
                    "name": "scheduledTransferId",
                    "in": "path",
                    "description": "취소할 예약이체 ID",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                  {
                    "name": "Account-Password-Auth-Token",
                    "in": "header",
                    "description": "계좌 비밀번호 인증 완료 후 발급되는 1회성 인증 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "Otp-Auth-Token",
                    "in": "header",
                    "description": "OTP 인증 완료 후 발급되는 1회성 인증 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "취소 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseScheduledTransferCancelResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`SCD0201` 예약이체를 찾을 수 없음(본인 소유가 아닌 경우도 동일)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`SCD0302` 대기 상태가 아닌 예약이체 · `SCD0303` 실행 예정일 당일 취소 시도 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/product-subscriptions":
        {
          "post":
            {
              "tags": ["product-subscription-controller"],
              "operationId": "execute_1",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ProductSubscriptionExecuteRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionExecuteResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/product-subscriptions/validation":
        {
          "post":
            {
              "tags": ["product-subscription-controller"],
              "operationId": "validate",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ProductSubscriptionValidationRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionValidationResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auto-transfers":
        {
          "get":
            {
              "tags": ["자동이체"],
              "summary": "자동이체 목록조회",
              "description": "내 출금계좌 기준으로 등록된 자동이체 목록을 상태별로 조회한다.",
              "operationId": "search_2",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "description": "출금계좌 ID (내 계좌)",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1001,
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "description": "자동이체 상태 필터. 미전달 또는 ALL이면 전체 조회",
                    "required": false,
                    "schema": { "type": "string" },
                    "example": "NORMAL",
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "description": "페이지 번호(0부터 시작)",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                    "example": 0,
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                    "example": 10,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePageResponseAutoTransferListItemResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0001` status 값이 올바르지 않음 · `CMN0002` 필수값 누락 · `CMN0005` 지원하지 않는 페이지 크기(5/10/20/30/50 중 하나여야 함)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "post":
            {
              "tags": ["자동이체"],
              "summary": "자동이체 등록",
              "description": "지정한 출금계좌에서 주기적으로 자동이체를 실행하도록 등록한다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "register_3",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AutoTransferRegisterRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "등록 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAutoTransferResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`AUT0001` 이체지정일 범위 오류 · `AUT0002` 이체기간 오류 · `AUT0004` 종료일 이전 최초 실행 없음 · `AUT0005` 입금 불가 상품유형 · `AUT0006` 1회 이체한도 초과 · `AUT0007` 이체주기 오류 · `AUT0008` 이체금액 오류 · `AUT0009` 통장 표시내용 길이 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`AUT0202` 출금계좌 소유자 아님/비활성 또는 입금계좌를 찾을 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`AUT0301` 동일 조건의 자동이체 중복 등록 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/verify-account":
        {
          "post":
            {
              "tags": ["회원가입 실명·계좌 인증"],
              "summary": "회원가입 실명·계좌 인증",
              "operationId": "verifyAccount",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/VerifySignupAccountRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVerifySignupAccountResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/terms/check":
        {
          "post":
            {
              "tags": ["signup-terms-controller"],
              "operationId": "checkTerms",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CheckTermsAgreementRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseTermsAuthTokenResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/signup/validate":
        {
          "post":
            {
              "tags": ["회원가입 진행"],
              "summary": "회원가입 입력정보 검증",
              "description": "최초 요청은 네 인증 토큰을 검증·소비하고 tempSignupToken을 발급한다. 정보수정 요청은 기존 임시 토큰을 전달하며 아이디 또는 이메일 변경 시에만 새 인증 토큰이 필요하다.\n",
              "operationId": "validate_1",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ValidateSignupRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "입력 검증 성공 및 tempSignupToken 발급",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseValidateSignupResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "CMN0001 입력·임시토큰 오류, ATH0001·ATH0002·ATH0004·ATH0005 입력 검증 오류",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "403":
                    {
                      "description": "ATH0103 이메일 토큰, ATH0104 약관 토큰, ATH0105 계좌 토큰 오류",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "ATH0301 아이디 중복, ATH0302 이메일 중복",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/signup/complete":
        {
          "post":
            {
              "tags": ["회원가입 완료"],
              "summary": "회원가입 완료",
              "description": "tempSignupToken을 소비하고 고객·약관 동의·기존 은행 계좌를 원자적으로 등록한다.",
              "operationId": "complete",
              "parameters":
                [
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CompleteSignupRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "회원가입 완료",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseCompleteSignupResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "CMN0001 임시 가입 토큰 오류 또는 CMN0002 멱등키 누락",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "ATH0301·ATH0302 중복 또는 CMN0301·CMN0302 멱등성 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/login":
        {
          "post":
            {
              "tags": ["login-controller"],
              "operationId": "login",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            { "$ref": "#/components/schemas/LoginRequest" },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseLoginResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/email-verifications":
        {
          "post":
            {
              "tags": ["회원가입 식별정보 인증"],
              "summary": "회원가입 이메일 인증번호 발급",
              "operationId": "issueEmailVerification",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/IssueEmailVerificationRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseIssueEmailVerificationResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/email-verifications/{emailVerificationId}/verify":
        {
          "post":
            {
              "tags": ["회원가입 식별정보 인증"],
              "summary": "회원가입 이메일 인증번호 검증",
              "operationId": "verifyEmail",
              "parameters":
                [
                  {
                    "name": "emailVerificationId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/VerifyEmailRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVerifyEmailResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/check-id":
        {
          "post":
            {
              "tags": ["회원가입 식별정보 인증"],
              "summary": "회원가입 아이디 중복확인",
              "operationId": "checkUserId",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CheckUserIdRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseCheckUserIdResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auto-transfers/{autoTransferId}":
        {
          "delete":
            {
              "tags": ["자동이체"],
              "summary": "자동이체 해지",
              "description": "등록된 자동이체를 해지한다. 다음 실행 예정일 당일에는 해지할 수 없다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "cancel_1",
              "parameters":
                [
                  {
                    "name": "autoTransferId",
                    "in": "path",
                    "description": "해지할 자동이체 ID",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                  {
                    "name": "Account-Password-Auth-Token",
                    "in": "header",
                    "description": "계좌 비밀번호 인증 완료 후 발급되는 1회성 인증 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "해지 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseVoid",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`AUT0201` 자동이체 등록 건을 찾을 수 없음(본인 소유가 아닌 경우도 동일)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`AUT0302` 정상 상태가 아닌 자동이체 · `AUT0303` 실행 예정일 당일 해지 시도 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
          "patch":
            {
              "tags": ["자동이체"],
              "summary": "자동이체 변경",
              "description": "등록된 자동이체의 금액·이체주기·종료일·통장 표시내용을 변경한다. 출금계좌·입금계좌·이체지정일은 변경할 수 없다. 동일한 Idempotency-Key와 동일한 요청 내용으로 재요청하면 새로 처리하지 않고 저장된 응답을 그대로 반환한다.",
              "operationId": "change",
              "parameters":
                [
                  {
                    "name": "autoTransferId",
                    "in": "path",
                    "description": "변경할 자동이체 ID",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1,
                  },
                  {
                    "name": "Idempotency-Key",
                    "in": "header",
                    "description": "멱등키. 동일 키로 재요청 시 재처리 없이 저장된 응답을 반환",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "550e8400-e29b-41d4-a716-446655440000",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/AutoTransferChangeRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "변경 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAutoTransferResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`AUT0002` 이체기간 오류 · `AUT0003` 변경 불가 항목 포함 · `AUT0004` 종료일 이전 최초 실행 없음 · `AUT0006` 1회 이체한도 초과 · `AUT0007` 이체주기 오류 · `AUT0008` 이체금액 오류 · `AUT0009` 통장 표시내용 길이 초과",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`AUT0201` 자동이체 등록 건을 찾을 수 없음(본인 소유가 아닌 경우도 동일)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`AUT0302` 정상 상태가 아닌 자동이체 · `CMN0301`/`CMN0302` 멱등키 충돌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers/{transactionNumber}":
        {
          "get":
            {
              "tags": ["이체"],
              "summary": "이체결과 상세 조회",
              "description": "거래번호로 이체결과 상세를 조회한다.",
              "operationId": "getDetail",
              "parameters":
                [
                  {
                    "name": "transactionNumber",
                    "in": "path",
                    "description": "조회할 거래번호",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "20260819IT0000000001",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseTransferHistoryDetailResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`TRF0202` 거래를 찾을 수 없음(타인 소유 거래도 동일하게 처리)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/transfers/payee":
        {
          "get":
            {
              "tags": ["이체"],
              "summary": "수취인(예금주) 조회",
              "description": "이체 실행 전 입금계좌번호로 예금주명을 조회한다.",
              "operationId": "inquirePayee",
              "parameters":
                [
                  {
                    "name": "accountNumber",
                    "in": "query",
                    "description": "조회할 입금계좌번호 (하이픈 없이)",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": 11012345678901,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePayeeResponse",
                                },
                            },
                        },
                    },
                  "404":
                    {
                      "description": "`TRF0201` 입금계좌를 찾을 수 없음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "409":
                    {
                      "description": "`TRF0301` 거래정지 또는 해지 상태의 입금계좌",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/scheduled-transfers/executions":
        {
          "get":
            {
              "tags": ["예약이체"],
              "summary": "예약이체 처리결과 조회",
              "description": "등록된 예약이체의 처리결과(정상/오류/취소)를 조회기간별로 조회한다. 조회기간을 지정하지 않으면 최근 1개월(오늘 기준)을 기본값으로 조회한다. 목록 상단에 정상처리금액·오류처리금액·취소건수 집계를 함께 반환한다.",
              "operationId": "searchExecutionResults",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "description": "출금계좌 ID (내 계좌). 미전달 시 전체 계좌 대상",
                    "required": false,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1001,
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "description": "조회기간 시작일. 미전달 시 toDate로부터 1개월 전",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-07-20",
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "description": "조회기간 종료일. 미전달 시 오늘",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-08-20",
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "description": "정렬 순서. LATEST(최신순, 기본값)/OLDEST(오래된순)",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "default": "LATEST",
                        "enum": ["LATEST", "OLDEST"],
                      },
                    "example": "LATEST",
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "description": "페이지 번호(0부터 시작)",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                    "example": 0,
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                    "example": 10,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseScheduledTransferExecutionResultPageResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0003` 조회 시작일이 종료일보다 늦음 · `CMN0004` 조회기간이 최대 1년(365일) 초과 · `CMN0005` 지원하지 않는 페이지 크기(5/10/20/30/50 중 하나여야 함)",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/products":
        {
          "get":
            {
              "tags": ["product-controller"],
              "operationId": "searchProducts",
              "parameters":
                [
                  {
                    "name": "productGroup",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "string", "enum": ["SAVINGS", "DEPOSIT"] },
                  },
                  {
                    "name": "keyword",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "default": "RATE",
                        "enum": ["RATE", "NEW", "NAME"],
                      },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponsePageResponseProductListItemResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/products/{productId}":
        {
          "get":
            {
              "tags": ["product-controller"],
              "operationId": "getProductDetail",
              "parameters":
                [
                  {
                    "name": "productId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductDetailResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/products/{productId}/terms/{termsId}":
        {
          "get":
            {
              "tags": ["product-controller"],
              "operationId": "getProductTerms",
              "parameters":
                [
                  {
                    "name": "productId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                  {
                    "name": "termsId",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductTermsViewResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/product-subscriptions/{subscriptionId}":
        {
          "get":
            {
              "tags": ["product-subscription-controller"],
              "operationId": "getProductSubscriptions",
              "parameters":
                [
                  {
                    "name": "subscriptionId",
                    "in": "path",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseProductSubscriptionResultResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/dashboard/login-status":
        {
          "get":
            {
              "tags": ["login-status-controller"],
              "operationId": "getLoginStatus",
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseLoginStatusResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auto-transfers/executions":
        {
          "get":
            {
              "tags": ["자동이체"],
              "summary": "자동이체 처리결과 조회",
              "description": "내 출금계좌 기준으로 자동이체 실행 이력을 조회기간별로 조회한다. 조회기간을 지정하지 않으면 최근 1개월(오늘 기준)을 기본값으로 조회한다.",
              "operationId": "searchExecutionHistory",
              "parameters":
                [
                  {
                    "name": "withdrawalAccountId",
                    "in": "query",
                    "description": "출금계좌 ID (내 계좌)",
                    "required": true,
                    "schema": { "type": "integer", "format": "int64" },
                    "example": 1001,
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "description": "조회기간 시작일. 미전달 시 toDate로부터 1개월 전",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-07-20",
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "description": "조회기간 종료일. 미전달 시 오늘",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                    "example": "2026-08-20",
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "description": "페이지 번호(0부터 시작)",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 0 },
                    "example": 0,
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "description": "페이지 크기. 5/10/20/30/50 중 하나만 허용",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                    "example": 10,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAutoTransferExecutionHistoryPageResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "`CMN0002` 필수값 누락 · `CMN0005` 지원하지 않는 페이지 크기(5/10/20/30/50 중 하나여야 함) · `CMN0003` 조회 시작일이 종료일보다 늦음",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                  "401":
                    {
                      "description": "`CMN0101` 인증정보가 없거나 세션이 만료됨",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/terms":
        {
          "get":
            {
              "tags": ["signup-terms-controller"],
              "operationId": "getTerms",
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseSignupTermsResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/auth/signup/confirm-info":
        {
          "get":
            {
              "tags": ["회원가입 진행"],
              "summary": "회원가입 확인정보 조회",
              "description": "tempSignupToken을 소비하지 않고 마스킹된 확인정보를 조회한다.",
              "operationId": "getConfirmation",
              "parameters":
                [
                  {
                    "name": "X-Signup-Token",
                    "in": "header",
                    "description": "회원가입 입력 검증 후 발급된 임시 가입 토큰",
                    "required": true,
                    "schema": { "type": "string" },
                    "example": "TEMP_SIGNUP_AbCdEf123456",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "마스킹된 확인정보 조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseSignupConfirmationResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "description": "CMN0001 X-Signup-Token 누락·무효·만료",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ErrorResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/accounts":
        {
          "get":
            {
              "tags": ["계좌"],
              "summary": "전체 계좌 조회",
              "description": "로그인한 고객이 보유한 전체 계좌를 유형별로 그룹화하여 조회한다.",
              "operationId": "getAccounts",
              "responses":
                {
                  "200":
                    {
                      "description": "조회 성공",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ApiResponseAccountOverviewResponse",
                                },
                            },
                        },
                    },
                },
            },
        },
      "/accounts/{accountId}/transactions":
        {
          "get":
            {
              "tags": ["계좌"],
              "operationId": "getTransactions",
              "parameters":
                [
                  {
                    "name": "accountId",
                    "in": "path",
                    "required": true,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int64",
                        "exclusiveMinimum": 0,
                      },
                  },
                  {
                    "name": "fromDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "toDate",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string", "format": "date" },
                  },
                  {
                    "name": "direction",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "string",
                        "enum": ["ALL", "DEPOSIT", "WITHDRAWAL"],
                      },
                  },
                  {
                    "name": "keyword",
                    "in": "query",
                    "required": false,
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "string", "enum": ["LATEST", "OLDEST"] },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "schema":
                      {
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "exclusiveMinimum": 0,
                      },
                  },
                  {
                    "name": "size",
                    "in": "query",
                    "required": false,
                    "schema":
                      { "type": "integer", "format": "int32", "default": 10 },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "OK",
                      "content":
                        {
                          "*/*":
                            {
                              "schema":
                                {
[...]
